@import "../../../styles/tokens.scss";

.emailInput {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  padding-bottom: 10px;
  border-bottom: 2px solid $color-black;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint-mobile) {
    padding-bottom: 6px;
  }

  .submitButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;

    @media screen and (min-width: $breakpoint-midsize) {
      &:hover {
        .arrowDiagonal {
          transform: translate(4px, -4px);
          transition: transform 0.2s ease;
          color: $color-ignite-red;
        }

        h4 {
          color: $color-ignite-red;
        }
      }
    }
  }

  h4 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 16px;
    }
  }

  input {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    width: 100%;
    opacity: 0.6;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 16px;
    }

    &:focus {
      opacity: 1;
    }
  }
}
