@import "../../styles/tokens.scss";

.default {
  font-family: obviously-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: 16px 12px;
  padding-top: 12px;
  width: fit-content;
  cursor: pointer;
  transition: 0.1s ease-out;
  box-sizing: border-box;
  text-align: center;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  &.white {
    background-color: $color-white;
    color: $color-black;

    @media screen and (min-width: $breakpoint-midsize) {
      &:hover {
        background-color: $color-bright-pink;
        color: $color-black;
      }
    }
  }

  &.black {
    background-color: $color-black;
    color: $color-white;
  }

  &.pink {
    background-color: $color-bright-pink;
    color: $color-black;
  }
}
