@import "../styles/tokens.scss";
@import "../styles/common.scss";

.splash {
  @extend .commonSplash;
  overflow-y: hidden;

  h1 {
    margin-bottom: 16px;
    z-index: 1;
  }

  p {
    z-index: 1;
  }

  .questionMark1Wrapper {
    position: absolute;
    bottom: 128px;
    left: 64px;
    z-index: 0;
    width: 40px;
    z-index: 2;

    @media screen and (max-width: $breakpoint-midsize) {
      display: none;
    }
  }

  .questionMark2Wrapper {
    position: absolute;
    top: 15%;
    right: 30%;
    z-index: 0;
    width: 32px;
    z-index: 2;

    @media screen and (max-width: $breakpoint-midsize) {
      width: 16px;
      right: 20%;
    }
  }

  .questionMark2 {
    transform: rotate(-20deg);
  }

  .questionMark3Wrapper {
    position: absolute;
    top: 20%;
    right: 35%;
    z-index: 0;
    width: 32px;
    z-index: 2;

    @media screen and (max-width: $breakpoint-midsize) {
      width: 16px;
      right: 25%;
    }
  }

  .questionMark3 {
    transform: rotate(-20deg);
  }

  .redBlob {
    position: absolute;
    bottom: 45%;
    left: -5%;
    z-index: 0;
    width: 500px;
    color: $color-ignite-red;

    @media screen and (max-width: $breakpoint-midsize) {
      width: 300px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      width: 200px;
    }
  }

  .blueSpark {
    position: absolute;
    bottom: -5%;
    right: -10%;
    z-index: 0;
    width: 600px;
    color: $color-electric-blue;

    @media screen and (max-width: $breakpoint-midsize) {
      width: 400px;
      right: -25%;
      bottom: -20%;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      width: 300px;
      right: -30%;
      bottom: -30%;
    }
  }
}

.accessibiltyFaq {
  background-color: $color-ignite-red !important;
}

.line {
  position: absolute;
  width: 110vw;
  top: -10%;
  left: -10%;
  z-index: 2;

  @media screen and (max-width: $breakpoint-midsize) {
    top: 5%;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    top: -10%;
    left: -50%;
    width: 200%;
  }
}
