/** Import fonts */
@import url("https://use.typekit.net/cvr0tce.css");
@import "./tokens.scss";

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
}

body,
html {
  overscroll-behavior: none;
  overflow-x: hidden;
}

li,
ul {
  list-style: none;
}

button,
input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

textarea {
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a,
img,
picture,
svg,
video {
  display: block;
}

div {
  font-family: "mr";
}

h1 {
  font-family: obviously-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $font-size-heading1;
  line-height: $line-height-heading1;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 64px;
    line-height: 82px;
  }
}

h2 {
  font-family: obviously-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $font-size-heading2;
  line-height: $line-height-heading2;

  &.accent {
    font-weight: 700;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: $font-size-mobileheading;
    line-height: $line-height-mobileheading;
  }
}

h3 {
  font-family: obviously-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $font-size-heading3;
  line-height: $line-height-heading3;

  &.accent {
    font-weight: 700;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: $font-size-mobileheading;
    line-height: $line-height-mobileheading;
  }
}

h4 {
  font-family: obviously-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $font-size-heading4;
  line-height: $line-height-heading4;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: $font-size-mobileheading;
    line-height: $line-height-mobileheading;
  }
}

p {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size-body;
  line-height: $line-height-body;

  &.bigBody {
    $font-size: $font-size-bigbody;
    line-height: $line-height-bigbody;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: $font-size-mobilebody;
    line-height: $line-height-mobilebody;
  }
}
