/** Type */
$font-size-heading1: 128px;
$font-size-heading2: 64px;
$font-size-heading3: 32px;
$font-size-heading4: 16px;
$font-size-body: 18px;
$font-size-bigbody: 24px;
$font-size-mobilebody: 16px;
$font-size-mobileheading: 24px;

$line-height-heading1: 138px;
$line-height-heading2: 74px;
$line-height-heading3: 42px;
$line-height-heading4: 26px;
$line-height-body: 30px;
$line-height-bigbody: 32px;
$line-height-mobilebody: 24px;
$line-height-mobileheading: 30px;

/** Color */
$color-bright-pink: #ff5ed2;
$color-electric-blue: #2a6cff;
$color-ignite-red: #f63541;
$color-canary-yellow: #feffa8;
$color-snow-gray: #eaeaea;
$color-white: #fafafa;
$color-black: #1b1b1b;
$color-salmon-orange: #fd7b63;
$color-periwinkle: #a5a6f8;

/** Breakpoints */
$breakpoint-mobile: 640px;
$breakpoint-midsize: 1000px;

/** Layout */
$margin: 64px;
$margin-mobile: 32px;
$margin-nav: 66px;

/** */
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
